@use '../../assets/sass/variables.scss' as *;

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
    overflow: hidden;
    background-color: $color-primary;
    margin: 10px 0px;

    &__heading {
        text-align: left;
        width: 80%;
    }

    &__description {
        width: 80%;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    &__stat {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__image {
        max-height: 200px;
    }

    &__name {

    }
}

.separator {
    border-bottom: 2px solid $color-darkest;
}