.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
    overflow: hidden;

    &__image {
        max-height: 200px;
    }

    &__name {

    }
}