@use './assets/sass/variables.scss' as *;

.punk-api {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background-color: $color-silver;

  &__heading {
    text-align: center;
    padding-top: 20px;
    background-color: $color-darkest;
    color: $color-silver;
    font-family: "kabel-lt-std-black";
    font-size: 4rem;
  }
}